html {
    font-family: 'Outfit', sans-serif;
}

.wrapper {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: hsl(0, 0%, 100%);
    height: 550px;
    max-width: 360px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.card .qrcode-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.information { 
    text-align: center;
    padding: 20px 0;
}

.information .title {
    font-size: 25px;
    color: hsl(218, 44%, 22%);
}

.information .text {
    font-size: 17px;
    margin-top: 20px;
    padding: 0 18px;
    color: hsl(220, 15%, 55%);
}

.attribution { 
    font-size: 12px; 
    text-align: center; 
    padding: 20px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.attribution a:hover { 
    color: hsl(220, 15%, 55%); 
}
